.balls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 120px;
}



.testShowCase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}



@media (max-width: 1090px) {
    .testShowCase{
        margin-top: 50px;
    }

    .parentCarusel{
        margin-top: 20px;
    }
}