.balls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.masTestimonios{
    padding: 40px 20px 20px 20px;
}

.masTestimonios .buttonContainer{
    margin: 0 auto;
}

.parentCarusel>h2{
    margin-bottom: 35px;
}


.testShowCase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}



@media (max-width: 1090px) {
    .testShowCase{
        margin-top: 50px;
    }

    .parentCarusel{
        margin-top: 20px;
    }

}

@media (max-width:  790px) {
    .parentCarusel>h2{
        margin-bottom: 50px;
    }
}

@media (max-width: 500px) {
    .testShowCase{
        margin-top: 0px;
    }
    .parentCarusel>h2{
        margin-bottom: 20px;
    }
    .balls{
        margin-top: 80px;
    }
}