


.notHover{
    font-family: 'Haas disp';
    font-size: 2.2rem;
    font-weight: 200;
    transition: all ease-out;
}

.closeHover{
    font-family: 'Haas disp';
    font-size: 2.2rem;
    color: #4B767F;
    font-weight: 500;
    transition: all ease-out;
}

.Hover{
    font-family: 'Haas disp';
    font-size: 2.2rem;
    color: #4B767F;
    font-weight: 600;
    transition: all ease-out;
}