
section {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section > div {
    position: relative;
    font-size: 2rem;
  }

  .main{
    width: 52.2rem;
    height: auto;
  }

  .ref{
    display: -webkit-flex;
  }

  .other{
    display: -webkit-flex;
    flex-direction: row;
    gap: .5rem;
  }

  .others{
    
    width: 41.0rem;
    height: auto;
  }

  .progress{
    position: sticky;
    top: 0;
  }