
.serviceCard{
    width: 45vw;
    font-family: "GothicStd-Heavy";
    border-radius: 30px;
    max-height: 400px;
    padding: 20px 20px 17px 20px;
    background-color: #DAE9F2;
    box-shadow: inset 0px 0px 10px #000000;
    border: none;
    margin: 14px 0;
}

.parent {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    /* .div1 { grid-area: 1 / 1 / 2 / 2; 
        display: flex;
        align-items: center;
        justify-content: center; } */
    .div122 { grid-area: 1 / 1 / 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center; }

.div122 span{
    font-size: 2.8rem;
    text-transform: uppercase;
}

@media (max-width: 1250px) {
    .div122 span{
        font-size: 2.4rem;
    }
}

@media (max-width: 1090px) {
    .serviceCard{
        width: 80vw;
    }
    .div122 span{
        font-size: 2rem;
    }
}


@media (max-width: 500px) {
    .serviceCard{
        padding: 10px 10px 7px 10px;
    }
    .div122 span{
        font-size: 1.6rem;
    }
}

@media (max-width: 400px) {
    .serviceCard{
        padding: 15px 10px 12px 10px;
    }
    .div122 span{
        font-size: 1.4rem;
    }
}