.linksButton{
    display: -webkit-flex;
    flex-direction: column;
    border-radius: 1.5rem;
    margin-top: .5rem;
    padding: .5rem .3rem;
    background-color: #fff;
}

.buttonLinks{
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
}

