.contactBar{
    height: 130px;
    width: 100%;
    background-color: #001F28;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 15vw;
}

.contactBar .button{
    color: #000;
    border-radius: 0px;
}

.contactBar h3{
    font-size: 4.5rem;
}