header{
    width: 100%;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.firstNav{
    box-shadow: none;
}

.color{
    background-color: #fff !important;
}

.stiky{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.noStiky{
    top: -120px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto 25px auto;
    padding: 0 25px;
    align-items: center;
}


.logo{
    width: 60px;
    height: auto;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    font-family: "GothicStd-Heavy";
}

.links a:hover{
    font-weight: 600;
    color: #5AB7CC;
}


@media (max-width: 900px) {
    .contentLinksSmaller{
        background-color: #fff;
        box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.09);
    }
    .linksSmaller{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        gap: 20px;
        
    }
    .linksSmaller a {
        font-size: 1.8rem;
        text-decoration: none;
        color: #000;
        font-family: "GothicStd-Heavy";
    }
    .navbar{
        margin-bottom: 0;
    }
    .socialsLinks{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
    }

}


@media (max-width: 500px) {
    header{
        height: 80px;
    }
    .logo{
        width: 40px;
    }

    .linksSmaller a {
        font-size: 1.4rem;
    }

    .linkLogo{
        width: 30px !important;
    }
}