header{
    width: 100%;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
    box-shadow: 143px 55px 92px rgba(0, 0, 0, 0.05), 16px 6px 37px rgba(0, 0, 0, 0.1);
}

.firstNav{
    box-shadow: none;
}

.color{
    background-color: #fff !important;
}

.stiky{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.noStiky{
    top: -120px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1728px;
    height: 100%;
    margin: 0 auto 25px auto;
    padding: 0 25px;
    align-items: center;
}


.logo{
    width: 60px;
    height: auto;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links a{
    font-size: 2.2rem;
    text-decoration: none;
    color: #000;
    font-family: 'Haas disp';
}

.links a:hover{
    font-weight: 600;
    color: #4B767F;
}
