.mainAboutUs{
    background-color: #F1EFEF;
}

.contentAboutUsTitle{
    min-height: 170px;
    background-color: #001F28;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentAboutUsTitle h1{
    text-align: center;
}


@media (max-width: 600px) {
    .mainAboutUs{
        padding: 50px 0;
    }
}