.mainAboutUs{
    background-color: #F1EFEF;
}

.contentAboutUsTitle{
    min-height: 17.0rem;
    background-color: #001F28;
    color: #fff;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentAboutUsTitle h1{
    text-align: center;
}


@media (max-width: 700px) {
    .mainAboutUs{
        padding: 2.0rem ;
    }

    .contentAboutUsTitle{
        min-height: 13.0rem;
    }
}

