
.buttonContainer{
    cursor: pointer;
    width: fit-content;
}

.button{
    width: fit-content;
    border-radius: 15px;
    padding: 25px 25px 20px 25px;
    background-color: #DAE9F2;
   
    box-shadow: inset 0px 0px 10px #000000;
}



.button span{
    font-family:"GothicStd-Heavy" ,"GothicStd-Light",'Courier New', Courier, monospace;
    font-size: 2.2rem;
    line-height: 0.5;
}

@media (max-width: 1090px) {
    .button span{
        font-size: 1.6rem;
    }
}


@media (max-width: 500px) {
    .button span{
        font-size: 1.4rem;
    }
}
