

.gridMainProjects{
    display: grid;
    grid-template-columns: 20.0rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 120.0rem;
    min-height: 25.0rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3.0rem;
    cursor: pointer;
}

.div131{
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 3.0rem;
    background-position: center;
    background-size: cover;
}

.div132{
    grid-area: 1 / 2 / 2 / 3;
    padding: 2.0rem 1.0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div132 h2{
    text-transform: uppercase;
}

.div132 li{
    padding: .2rem 0;
}

.div132  li::marker{
    margin: 0;
}

.liProjects{
    font-size: 2.2rem;
}


@media (max-width: 1200px) {
    .gridMainProjects{
        width: 100%;
    }
}

@media (max-width: 1090px) {
    .liProjects{
        font-size: 1.6rem;
    }
}

@media (max-width: 650px) {
    .div132 h3{
        text-align: center;
    }
    .gridMainProjects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 25.0rem;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%; 
    }
    .div131{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .div132{
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
        padding: 1.0rem;
    }
}

@media (max-width: 500px) {


    .liProjects{
        font-size: 1.4rem;
    }   
}

@media (max-width: 370px) {
    .liProjects{
        font-size: 1.2rem;
    }
}