
.root{
  overflow: hidden;
}

.App {  
  text-align: center;
  align-items: center;  
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(-45deg, #387280, #5AB7CC, #70E5FF, #fff, #BDF3FF, #9CEDFF, #4FDFFF, #5AB7CC);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  scroll-behavior: smooth;
  scroll-padding: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.principalBanner{
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}

.contents, .contentsLastSection{
  margin: 0 auto;
  height: 100vh;
  scroll-snap-align: start;
  max-width: 100%;
  padding: 0 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}



.contentsLastSection{
  flex-direction: column;
  padding: 0 0;
  justify-content: space-between;
}


@media (max-width: 500px) {
  .contents, .contentsLastSection, .principalBanner{
    height: 100lvh;
  }
}


