.containerProjects{
    width: 100%;
}

.projectsGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.buttonMoreProjects{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.responsiveProyects{
    height: auto;
    min-height: 100lvh;
    padding-bottom: 10lvh;
        margin-bottom: 50lvh;
}


@media (max-width: 500px) {
    .responsiveProyects{
        height: auto;
        padding-bottom: 10lvh;
        margin-bottom: 50lvh;
        padding-top: 20px;
    }
}

